<% if @publications.length > 0 %>
$("#publications").html("<%= j render(@publications) %>");
<% else %>
$("#publications").html("<h3>Aún no hay ejercicios para esta categoría</h3>");
<% end %>

$("#publications").listview().listview('refresh');
