<%= content_for :title, "Buscar" %>
<%= form_tag search_by_category_publications_path, remote: true, method: :get do %>
    <div class="ui-grid-a">
      <div class="field ui-block-a" style="width: 70%">
        <%= select_tag :category, options_for_select([['Categoría', ''], ['Piernas'], ['Pecho'], ['Espalda'], ['Brazos'], ['Abdominales'], ['General']]) %>
      </div>
      <div class=" ui-block-b" style="width: 30%">
        <%= submit_tag 'Buscar', data: {icon: "search"} %>
      </div>
    </div>
<% end %>

<br>
<form class="ui-filterable">
  <input id="filter" data-type="search"/>
</form>
<ul id="publications" data-role="listview" data-autodividers="true" data-filter="true" data-input="#filter">

</ul>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $("#footer li a").removeClass("ui-btn-active");
    $("#footer #search").addClass("ui-btn-active");
  });
</script>