<%= content_for :title, "Buscar" %>
<%= form_tag search_by_category_publications_path, remote: true, method: :get do %>
    <div class="ui-grid-a">
      <div class="field ui-block-a" style="width: 70%">
        <%= select_tag :category, options_for_select([['Categoría', ''], ['Piernas'], ['Espalda'], ['Brazos'], ['Abdominales'], ['General']]) %>
      </div>
      <div class=" ui-block-b" style="width: 30%">
        <%= submit_tag 'Buscar', data: {icon: "search"} %>
      </div>
    </div>
<% end %>

<ul id="publications" data-role="listview" data-autodividers="true" data-filter="true" data-input="#filtro">

</ul>