.center_title {
    text-align: center;
}

.center_image {
    margin: 0 auto;
    display: block;
}

.logo {
    max-height: 350px;
    height: auto;
    width: 100%;
}

/*.slide {*/
    /*text-align: center;*/
/*}*/

/*.slide img {*/
    /*margin: 0 auto;*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo #edit_image img{
    display: block;
    width: 35%;
    height: auto;
    margin: 0 auto;
}

#edit_image {
    text-align: center;
}